@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body {
    font-family: source sans pro;
    background-color: #eee;
    color: black;
    padding: 2em 25em 
}

header {
    font-family: abril fartface;
    color: black;
}

h2 {
    font-family: Roboto slab;
}

.newspaper-container{
    background-color: white;
    width: 700px;
    border-radius: 1%;
    box-shadow: 6px #777;
    padding: 2em;

}
h5 {
    color: #dd3232;
}
nav {
    color: 4px #777;
    border: 1px solid gray;
    position: sticky;
    top: 10px;
    background-color: white;
    

}

h1 {
    text-align: center;
}

.no-bullet {
    list-style: none;
    text-decoration: none;
    
  }

  li {
    display: inline-block;
    padding: 0.3em;
    
  }

.more-articles {
    border-top: 5px solid lightgray;
}
/*.more-articles #box1 {
    display: inline-block;
    text-align: justify;
    width: 40%;
    height: 20em;
}
    

.more-articles #box2 {
    display: inline-block;
    text-align: justify;
    width: 40%;
    height: 20em;
   
} */

.more-articles {
    border-top: 1px solid #eee;
    margin-top: 1.5em;
    text-align: center;
    
  }
  .more-articles section {
    display: inline-block;
    width: 44%;
    margin: 0, 2em;
  }

main {
    display: block;
    text-align: justify;
    margin: 0 auto;
    word-wrap: break-word;
}

#TopImage {
    width: 700px;
}

.additionalinfo {
    display: inline-block;
    
}


